{{!< default}}
{{!-- 顶部图片x --}}
<div id="post-header" class="site-head regular" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}  data-stellar-background-ratio="0.5" data-stellar-horizontal-offset="50" data-stellar-vertical-offset="50">
<div class="post-header-mask"></div>
<div class="post-cover-info">
{{#post}}
<h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
<h2 class="post-publish-time">{{date format="MMMM DD, YYYY"}}</h2>
<h2 class="post-tags">{{tags prefix="" separator=" | "}}</h2>
{{/post}}
</div>
<div class="cover-slide-more">
<h4>Continue Reading</h4>
<div class="story-cover-arrow shining"></div>
</div>
</div>
	<main class="content single-post" role="main">

	<article class="{{post_class}}">

{{#post}}

<section class="post-content">
<div class="single-post-inner">
{{content}}
</div>
<section class="share">
<h4>Share</h4>

<div class="share-icons">
<a class="icon-share" href="http://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}"
onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
<span class=""><i class="iconfont  icon-twitter">&#xe763;</i></span>
</a>
<a class="icon-share" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
<span class=""><i class="iconfont  icon-facebook">&#x3433;</i></span>
</a>
</div>
</section>

<section class="author">
{{#if author.image}}
<a href="{{author.website}}" class="post-author-avatar">
<img src="{{author.image}}" alt="{{author.name}}">
</a>
{{/if}}

<h4>{{author.name}}</h4>
<p>{{author.bio}}</p>
</section>

</section>

<section class="comment-area">
<div class="ds-thread"></div>
</section>

{{/post}}

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'zihaosblog';
    var disqus_identifier = '{{post.id}}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</article>

</main>

